@model ExpenseManager.Models.Expense
@{
    ViewData["Title"] = "AddRecord";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<script type="text/javascript">
    $(document).ready(function () {



        $(".add-row").click(function () {

            var created = $("#Created").val();
            var particular = $("#Particular").val();
            var category = $("#Category").val();
            var amount = $("#Amount").val();
            var comment = $("#Comment").val();

            var expenses =
                '{Created: "' + created + '",' +
                'Particular: "' + particular + '",' +
                'Category: "' + category + '",' +
                'Amount: ' + amount + ',' +
                'Comment: "' + comment + '"' + '}';

            $.ajax({
                type: "POST",
                url: "/api/expenses1",
                data: expenses,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var markup = "<tr><td>" + created + "</td><td>" + particular
                        + "</td><td>" + category + "</td><td>" + amount
                        + "</td><td>" + comment + "</td></tr>";
                    $("table[id^=hello] tbody").prepend(markup);

                    $("#Created").val("");
                    $("#Particular").val("");
                    $("#Category").val("");
                    $("#Amount").val("0");
                    $("#Comment").val("");

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });



        });

          var particularTags = [
              "Fairprice",
              "Food",
              "Pomelo",
              "Mcdo",
              "Drinks",
        ];
        $("#Particular").autocomplete({
            source: particularTags
        });


          var categoryTags = [
            "Food/Grocery",
              "Clothing",
              "Entertainment",
              "Transportation",
              "Electronics",
              "Insurance",
              "PUB"
        ];
        $("#Category").autocomplete({
            source: categoryTags
        });


    });
</script>

<h1>Expenses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Particular
            </th>
            <th>
                Category
            </th>
            <th>
                Amount
            </th>
            <th>
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td>
                <div class="form-group">

                    <input asp-for="Created" class="form-control" />
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>
            </td>
            <td>
            <div class="form-group">

                <input asp-for="Particular" class="form-control" />
                <span asp-validation-for="Particular" class="text-danger"></span>
            </div>
 
            </td>
            <td>
                <div class="form-group">

                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">

                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">

                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">

                    <input type="submit" value="Create" class="add-row" />
                </div>
            </td>
        </tr>

    </tbody>
</table>

<table class="table" id="hello">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Particular
            </th>
            <th>
                Category
            </th>
            <th>
                Amount
            </th>
            <th>
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>